.banner{
    width: 100%;
    height: 98vh;
    background: linear-gradient(#00000080, #00000080),
    url(../images/banner-ducati-xdiavel-pc.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    margin-top: -50px;
}
.banner h1{
    color: #c2c3c2;
    padding-top: 180px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.banner span{
    color: #d41b24;
}
.frase{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.frase p{
    font-size: 2rem;
    line-height: 40px;
    font-weight: 100;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
}
.frase a{
    width: 220px;
    height: 60px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    border: solid 1px #ffffffe6;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}
.frase a:hover{
  background: #f1f1f1;
  transform: scale(1.05);
  box-shadow: 0 6px 12px #00000040;
  color: #000;
}
.section.sobre-ducati-xdiavel{
    background-color: red;
}
section.sobre-ducati-xdiavel::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: -1;
}
.sobre-ducati-xdiavel > .interface{
    position: relative;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre-ducati-xdiavel h3{
    font-size: 3rem;
    font-weight: 200;
    line-height: 50px;
    color: #fff;
}

.sobre-ducati-xdiavel p{
    font-family: "Raleway", sans-serif;
    margin: 30px;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: left;
}

.sobre-nos button a{
    width: 220px;
    height: 60px;
    font-weight: 300;
    font-size: 18px;
    font-family: "Barlow Condensed", sans-serif;
    padding: 10px;
}
.main-title{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  padding-top: 20px;
}
.img-fluid {
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  padding-top: 40px;
}
.img-fluid:hover{
 filter: drop-shadow(2px 10px 10px #ffffffe6);
}
.ficha-tecnica{
    width: 100%;
}
.ficha-tecnica i{
    font-size: 20px;
    color: #000;
}
.ficha-tecnica h3{
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
}
.ficha-tecnica img{
    width: 300px;
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

.card-body{
    height: 480px;
}
.card-title{
    font-weight: 500;
}
.card p{
    font-size: 0.8rem;
    line-height: 1.6;
    letter-spacing: 0.6px;
    margin-left: -20px;
}
.col-lg-6{
    height: 350px;
    text-align: center;
}
.tech-card {
    width: 100%;
    height: 300px;
  transition: all 0.3s ease;
}
.text-secondary p{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    letter-spacing: 2;
    color: #ffffffec;
}
.tech-card:hover {
  transform: translateY(-6px);
  border-color: #c90202 !important;
}

.letter-spacing {
  letter-spacing: 1px;
}
.card p{
    text-align: left;
}
.card-btn a{
    width: 220px;
    height: 60px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    border: solid 1px #ffffffe6;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    margin-top: 20px;
    background-color: #ffffffec;
    transition: all 0.2s ease-in-out;
}
.card-btn a:hover{
  box-shadow: #ff00006e 0px 3px 8px !important;
  transform: scale(1.05);
  box-shadow: 0 6px 12px #00000040;
  color: #000;
   transition: all 0.2s ease-in-out;
}

.galeria-motos{
    width: 100%;
    height: 480px;
    background-image: url(../images/fundo-preto-slide.png);
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    background-size: 100% 100%;
}
.galeria-motos img{
    width: 50%;
    height: 400px;
    border-radius: 10px;
    border: solid 2px #f1f1f1;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.galeria-btn a{
    width: 220px;
    height: 60px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    border: solid 1px #ffffffe6;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}
.txt {
    padding-top: 50px;
    padding-bottom: 50px;
}
.form label{
    color: #f1f1f1;
}
@media screen and (max-width: 878px) {
    .banner{
    width: 100%;
    height: 98vh;
    padding: 40px;
    background: linear-gradient(#00000080, #00000080),url(../images/banner-ducati-xdiavel-mobile.png);
    background-size: 131%, 146%;
    background-repeat: no-repeat;
    background-position: center, center;
    margin-top: -80px;
    }
    .banner h1{
        font-size: 1.5rem;
    }
    .banner a{
        background: #f5f5f5;
        font-size: 16px;
        text-align: center;
        margin-left: 80px;
        margin-bottom: 20px;
    }
    .frase p{
        font-size: 1.3rem;
        text-align: center;
    }
    .frase a{
        color: #000;
    }
    .info p{
        margin-top: -65px;
    }
     .form h2{
        color: #fff;
        font-size: 2.5rem;
    }
    .form textarea{
        width: 80%;
    }

    .card-body{
        height: auto;
    }
    .card p{
        font-size: 14px;
        text-align: left;
        margin-left: -28px;
    }
    .tech-card {
  transition: all 0.3s ease;
}

.tech-card:hover {
  transform: translateY(-6px);
  border-color: #d00000 !important;
}

.letter-spacing {
  letter-spacing: 1px;
}

.galeria-motos img{
        width: 50%;
        height: auto;
        margin-top: 70px;
    }
     ::placeholder{
        text-align: left;
    }
    .form label{
        text-align: left;
    }
    .form input{
        width: 87%;
        margin-left: -20px;
    }
    .form textarea{
        width: 100%;
    }
    .form button{
        width: 40%;
    }
}