.banner{
    width: 100%;
    height: 98vh;
    background: linear-gradient(#000000cc, #000000cc),
    url(../images/ducat-diavel-1.webp);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    margin-top: -50px;
}
.banner h1{
    color: #fff;
    padding-top: 180px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
hr{
    border: solid 2px #fff;
    height: 2px;
    width: 18%;
    margin: 10px auto;
    background: #fff;
    opacity: 1;
}
.frase{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.frase p{
    font-size: 2rem;
    line-height: 40px;
    font-weight: 100;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
    margin-top: -40px;
}
.frase a{
    width: 220px;
    height: 60px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    border: solid 1px #ffffffe6;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}
.frase a:hover{
  background: #f1f1f1;
  transform: scale(1.05);
  box-shadow: 0 6px 12px #00000040;
  color: #000;
}
.about-area{
    width: 90%;
    height: 650px;
    background: linear-gradient(#000000cc, #000000cc),
    url(../images/ducati-xdiavel-2.webp);
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    background-size: 100%;
    border: solid 2px #f1f1f1;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    margin: 40px auto;
    border-radius: 10px;
}
.about-area p{
    text-align: left;
    color: #f1f1f1;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    letter-spacing: 0.6px;
    line-height: 21px;
    padding-top: 20px;
    width: 100%;
}
.about-area a{
    width: 220px;
    height: 60px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    border: solid 1px #ffffffe6;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}
.main-title{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  padding-top: 20px;
}
.img-fluid {
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  padding-top: 40px;
}
.img-fluid:hover{
 filter: drop-shadow(2px 10px 10px #ffffffe6);
}
.ficha-tecnica{
    width: 100%;
}
.ficha-tecnica i{
    font-size: 20px;
    color: #000;
}
.ficha-tecnica h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}
.card-body{
    height: 520px;
}
.card-title{
    font-weight: 500;
}
.card p{
    font-size: 0.8rem;
    line-height: 1.6;
    letter-spacing: 0.6px;
    margin-left: -20px;
}

.galeria-motos{
    width: 100%;
    height: 480px;
    background-image: url(../images/fundo-preto-slide.png);
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    background-size: 100% 100%;
}
.galeria-motos img{
    width: 50%;
    height: 400px;
    border-radius: 10px;
    border: solid 2px #f1f1f1;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.galeria-btn a{
    width: 220px;
    height: 60px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    border: solid 1px #ffffffe6;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}
.txt {
    padding-top: 50px;
    padding-bottom: 50px;
}
.form label{
    color: #f1f1f1;
}
@media screen and (max-width: 878px) {
    .banner{
    width: 100%;
    height: 100%;
    padding: 40px;
    background: linear-gradient(#000000cc, #000000cc),
    url(../images/ducati-xdiavel-1\ -mobile.png);
    background-size: 131%, 146%;
    background-repeat: no-repeat;
    background-position: center, center;
    margin-top: -80px;
    }
    .banner h1{
        font-size: 16px;
        margin-top: -80px;
    }
    .banner a{
        background: #f5f5f5;
        font-size: 16px;
        text-align: center;
        margin-left: 80px;
        margin-bottom: 20px;
    }
    .frase p{
        font-size: 1rem;
        text-align: center;
    }
    .frase a{
        color: #000;
    }
    .info p{
        margin-top: -65px;
    }
     .form h2{
        color: #fff;
        font-size: 2.5rem;
    }
    .form textarea{
        width: 80%;
    }
    .about-area{
        width: 90%;
        height: auto;
        padding-bottom: 50px;
    }
    .card-body{
        height: auto;
    }
    .card p{
        margin-left: -34px;
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        line-height: 1.4;
    }
    .galeria-motos img{
        width: 50%;
        height: auto;
        margin-top: 70px;
    }
     ::placeholder{
        text-align: left;
    }
    .form label{
        text-align: left;
    }
    .form input{
        width: 87%;
        margin-left: -20px;
    }
    .form textarea{
        width: 100%;
    }
    .form button{
        width: 40%;
    }
}