.banner{
    width: 100%;
    height: 98vh;
    background-image: url(../images/banner-honda-cbr-.webp);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: 100%, 100%;
}
.banner h1{
    color: #fff;
    padding-top: 180px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
hr{
    border: solid 2px #fff;
    height: 2px;
    width: 18%;
    margin: 10px auto;
    background: #fff;
    opacity: 1;
}
.frase{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.frase p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 100px;
}
.frase a{
    width: 220px;
    height: 60px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    border: solid 1px #ffffffe6;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}
.frase a:hover{
  background: #f1f1f1;
  transform: scale(1.05);
  box-shadow: 0 6px 12px #00000040;
  color: #000;
}
.info p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.6px;
    color: #fff;
    font-weight: 200;
}
.info a{
    background: #f1f1f1;
    color: #121212;
    padding: 8px;
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: 200;
}
.ficha-tecnica{
    width: 100%;
}
.ficha-tecnica i{
    font-size: 20px;
    color: #000;
}
.ficha-tecnica h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
}
.galeria-items{
    width: 100%;
    height: 28vh;
    padding-left: 20px;
    background-image: url(../images/fundo-preto-slide.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right, center;
}
.galeria-item img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: 130px;
    border: solid 4px #f1f1f1;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.txt {
    padding-top: 50px;
    padding-bottom: 50px;
}
.form label{
    color: #f1f1f1;
}
@media screen and (max-width: 878px) {
    .banner{
    width: 100%;
    height: 350px;
    background-image: url(../images/banner-honda-cbr-.webp);
    background-size: 100%, 120%;
    background-repeat: no-repeat;
    background-position: center, center;
    }
    .banner h1{
        font-size: 25px;
    }
    .banner a{
        background: #f5f5f5;
        font-size: 16px;
        text-align: center;
        margin-left: 80px;
        margin-bottom: 20px;
    }
    .info p{
        margin-top: -65px;
    }
    .galeria-2 {
        padding-top: 110px;
    }
    .galeria-2 img{
        width: 100px;
        height: 100px;
        padding-top: 0px;
        margin: 40px;
    }
     .form h2{
        color: #fff;
        font-size: 2.5rem;
    }
    .form textarea{
        width: 80%;
    }

     ::placeholder{
        text-align: left;
    }
    .form button{
        width: 40%;
    }
}